

/*Styles*/

title {
  color: Green;
  text-align: center;
  text-decoration-color: red;
  font-size: 200;
}

h1 {
  color: Green;
  text-align: center;
  padding-top: 10%;

}

form {
  color: black;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

.center-btn {
  text-align: center;
  margin: auto;
  display: block;
  padding-top: 10px;
}

.center-text {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}
