
/*Styles*/


h1 {
  color: Green;
  text-align: center;
  padding-top: 3%;

}

input {
  text-align: center;
}

form {
  color: black;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

p {
  font-size: 15px;
}

.center-btn {
  text-align: center;
  margin: auto;
  display: block;
  padding-top: 10px;
}

.center-text {
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1%;
}
